{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Edit Profile') }}</h1>
    <div class="row">
        <div class="col-md-4">
        	<ul class="nav nav-tabs" role="tablist">
        		<li class="nav-item">
        			<a class="nav-link active" id="basic-tab" aria-controls="basic" data-toggle="tab" href="#basic">Basic info</a>
        		</li>
        		<li class="nav-item">
        			<a class="nav-link" id="additional-tab" aria-controls="additional" data-toggle="tab" href="#additional">Additional info</a>
        		</li>
        	</ul>
        	<div class="tab-content">
    	      	<div class="tab-pane active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <br/>
	       	  		{{ wtf.quick_form(form) }}
        	  	</div>
        	  	<div class="tab-pane" id="additional" role="tabpanel" aria-labelledby="additional-tab">
                    <br/>
        	  		<label class="form-control-label" for="City">City</label>
       	  			<input type="text" class="form-control" name="city" aria-label="City" />
        	  	</div>
        	</div
        </div>
    </div>
{% endblock %}
